<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <form action="/madlib" method="POST">
        What is your name? <input type = "text" name="person"><br>
        Pick a color:
        <input type="radio" name="color" value="blue">blue
        <input type="radio" name="color" value="pink">pink
        <input type="radio" name="color" value="mauve">mauve
        <input type="radio" name="color" value="orange">orange<br>
        Pick a Noun:
        <select name="noun">
            <option value="lamp">lamp</option>
            <option value="sloth">sloth</option>
            <option value="beach">beach</option>
            <option value="python">python</option>
            <option value="fork">fork</option>
        </select><br>
        Pick 3 adjectives: 
        <input type = "checkbox" name="adj" value="nice">Nice
        <input type = "checkbox" name="adj" value="big">Big
        <input type = "checkbox" name="adj" value="awesome">Awesome
        <input type = "checkbox" name="adj" value="colorful">colorful
        <input type = "checkbox" name="adj" value="sticky">sticky<br>

        <input type ="submit">

    </form>
</body>
</html>